.container {
    width: 1050px;
}

main {
    padding-top: 40px;
}

aside {
    position: relative;
    display: inline-block;
    width: 260px;
    top: 0;
    z-index: 90;
}

section {
    margin-bottom: 200px;
    height: 500px;
}

.extra-space {
    height: 200px;
}

#visualization-wrapper {
    display: inline-block;
    position: fixed;
    top: 40px;
    z-index: 1;
    margin-left: 10px;
}