doctype html

html(lang="")
    head
        // Tailwind CSS
        link(rel="stylesheet" href="app.pcss")

        // App CSS
        link(rel="stylesheet" href="app.css")

        title Young People Survey

    body
        div.container.mx-auto
            main
                aside
                    section#sectionIntro
                        h1.text-xl.font-semibold.mb-2 Young People Survey
                        p.text-base Following data was collected form a survey conducted in 2013 at #[a(href="https://fses.uniba.sk/en/" target="_blank").text-blue-500.underline FSEV UK]. Data source. #[a(href="https://www.kaggle.com/miroslavsabo/young-people-survey" target="_blank").text-blue-500.underline link].
                    section#sectionAge
                        h1.text-xl.font-semibold.mb-2 Age Distribution
                        p Participate in the survey were a student and their friends from the Statistics class at #[a(href="https://fses.uniba.sk/en/" target="_blank").text-blue-500.underline FSEV UK]. As seen from the distribution the survey capture the thinking and psychology of a young generation.
                    section#sectionGender
                        h1.text-xl.font-semibold.mb-2 Gender Distribution
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, adipisci aliquam assumenda atque est ipsam libero magnam, molestiae mollitia perferendis quasi qui, quisquam suscipit. Hic ipsum obcaecati perferendis sequi tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequatur culpa distinctio dolorem exercitationem harum inventore ipsum, molestias mollitia odio officia porro quaerat quod saepe soluta tenetur velit vero!
                    section#sectionInterest
                        h1.text-xl.font-semibold.mb-2 Interest
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, adipisci aliquam assumenda atque est ipsam libero magnam, molestiae mollitia perferendis quasi qui, quisquam suscipit. Hic ipsum obcaecati perferendis sequi tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequatur culpa distinctio dolorem exercitationem harum inventore ipsum, molestias mollitia odio officia porro quaerat quod saepe soluta tenetur velit vero!

                div#visualization-wrapper
                    svg(width=800 height=600)

        script(src="app.js")