doctype html

html(lang="")
    head
        // Tailwind CSS
        link(rel="stylesheet" href="app.pcss")

        // App CSS
        link(rel="stylesheet" href="app.css")

        title Young People Survey

    body
        div.container.mx-auto
            main
                aside
                    section
                        h1.text-xl.mb-2 Section 1
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, adipisci aliquam assumenda atque est ipsam libero magnam, molestiae mollitia perferendis quasi qui, quisquam suscipit. Hic ipsum obcaecati perferendis sequi tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequatur culpa distinctio dolorem exercitationem harum inventore ipsum, molestias mollitia odio officia porro quaerat quod saepe soluta tenetur velit vero!
                    section
                        h1.text-xl.mb-2 Section 2
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, adipisci aliquam assumenda atque est ipsam libero magnam, molestiae mollitia perferendis quasi qui, quisquam suscipit. Hic ipsum obcaecati perferendis sequi tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequatur culpa distinctio dolorem exercitationem harum inventore ipsum, molestias mollitia odio officia porro quaerat quod saepe soluta tenetur velit vero!
                    section
                        h1.text-xl.mb-2 Section 3
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, adipisci aliquam assumenda atque est ipsam libero magnam, molestiae mollitia perferendis quasi qui, quisquam suscipit. Hic ipsum obcaecati perferendis sequi tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem consequatur culpa distinctio dolorem exercitationem harum inventore ipsum, molestias mollitia odio officia porro quaerat quod saepe soluta tenetur velit vero!

                div#visualization
